In [1]:
import pandas as pd
screen_time = [2,4,6]
sleep_hours = [3,7,8]
stu_name = ["sujitha","keerthana","sonal"]
dict1 = {
    "screen_time":screen_time,
    "sleep_hours":sleep_hours,
    "stu_name":stu_name
}
df = pd.DataFrame(dict1)
print(dict1)
df = pd.DataFrame(dict1)
print(df)

{'screen_time': [2, 4, 6], 'sleep_hours': [3, 7, 8], 'stu_name': ['sujitha', 'keerthana', 'sonal']}
   screen_time  sleep_hours   stu_name
0            2            3    sujitha
1            4            7  keerthana
2            6            8      sonal

In [3]:
list = [1,2,3,5]
res = [i/2 for i in range(1,20) ]
print(res)

[0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, 4.5, 5.0, 5.5, 6.0, 6.5, 7.0, 7.5, 8.0, 8.5, 9.0, 9.5]

In [4]:
words = ["LOWER","W","PYTHON"]
lower = [i.lower() for i in words]
print(lower)

['lower', 'w', 'python']

In [5]:
words = ["LOWER","W","PYTHON"]
lower = [i.upper() for i in words]
print(lower)

['LOWER', 'W', 'PYTHON']

In [10]:
import math
numbers = [1, 4, 9, 16, 25]
sq = tuple(math.sqrt(i) for i in numbers)
print(sq)

(1.0, 2.0, 3.0, 4.0, 5.0)

In [11]:
list = [1,2,3,4,5,6,7,8,9]
res= [i for i in list if i%2==0]
print("Even numbers",res)

Even numbers [2, 4, 6, 8]

# New Section