In [1]:
def add(x,y):
  return x+y
res = add(10,20)
print(res)

30

In [2]:
result = lambda x,y:x+y
print(result(10,20))

30

In [3]:
result = lambda x,y:x*y
print(result(10,20))

200

In [12]:
lst = [1, 2, 3, 4, 5, 6]
iterate_var = iter(lst)  # Create an iterator for the list
print(next(iterate_var))  # Print the first element
print(next(iterate_var))  # Print the next element

TypeError: 'list_iterator' object is not callable

In [7]:
##We can iterate
for i in iterate_var:
  if i % 2== 0:
    print(i)
#By using iter keyword check for number is>5 then
# add the 1 value and print the number

NameError: name 'iterate_var' is not defined

In [13]:
def square(i):
  for i in range(i):
    i = i**2
    return i
    res = square(20)
    print(res)

# New Section

In [15]:
def square(i):
  for i in range(i):
    i = i +2
    yield i
    square(10)
    for i in square(10):
      print(i)